<div class="abc" style="background-color:#c8c8c8">
  <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Rate My DalCourse</h6>
          <p>Bacon ipsum dolor amet filet mignon buffalo tongue andouille brisket.Shank tri-tip chuck landjaeger andouille rump venison shoulder.Pork bresaola drumstick brisket, meatball hamburger sirloin burgdoggen porchetta ham pig.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
          <p>
            <a href="#!" style="color: black">Home</a>
          </p>
          <p>
            <a href="#!" style="color: black">Privacy</a>
          </p>
          <p>
            <a href="#!" style="color: black">Policy</a>
          </p>
          <p>
            <a href="#!" style="color: black">Help And Support</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Connect With Us</h6>
          <p>
            <i class="fab fa-facebook-square" style="font-size:200%"></i>
          </p>
          <p>
            <i class="fab fa-twitter" style="font-size:200%"></i>
          </p>
          <p>
            <i class="fab fa-instagram" style="font-size:200%"></i>
          </p>

        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Halifax , Nova Scotia</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> ratemycourse@dal.ca</p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 123 456 789</p>

              </div>


            </div>

          </div>


        </footer>

      </div>