<!-- Section-1 with image-->
<div class="firstsection ">
  <img class="image1" src="assets/image/images_section1.jpg" alt="landing-image" style="width:100%;">
  <h1 class="main-text landing-text">A platform where you can review and discuss about computer science courses </h1>
</div>
<!-- Section-1 completed-->

<!-- Feature Section  -->
<div class="text-center feature">

    <h1 class="featureHead">Features</h1>
    <!-- Section description -->
    <p class="lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>

    <div class="row">
      <!-- Discussion forum-->
          <div class="col-md-6 feature1">
              <img class="forumImage rounded-circle" src="assets/image/images_discussion-group.jpg" alt="discussion-forum">
              <h5 class="font-weight-bold my-4">Discussion Forum</h5>
              <p class="grey-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
          </div>
          <!-- Discussion forum -->

          <!-- Rate Course -->
          <div class="col-md-6 feature1">
            <img class="rateImage rounded-circle" src="assets/image/images_review.jpg" alt="review-course">
            <h5 class="font-weight-bold my-4">Review Courses</h5>
            <p class="grey-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
      <!-- Rate Course -->
    </div>

</div>
<!-- Feature section completed -->