.firstsection{
    margin-top: 3rem;
  }

  .image1{
    display: table;
    opacity:0.4;
    height:660px;
    position: relative;
    width:100%;
    overflow-x:hidden;
    background-size:cover;
  }

  .landing-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    width: 100%;
    font-weight:700;
  }

  .aboutus, .p-about, .aboutusImage{
      margin-top: 3rem;
  }

  .main-text{
    color: black;
  }

  h1{
    font-size:40px;
  }

  .rateImage{
    height: 12rem;
    width: 12rem;
    padding-top: 30px;

  }

  .rateImage:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
  }

  .forumImage{
    height: 12rem;
    width: 12rem;
    padding-top: 30px;
  }

  .forumImage:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
  }



  .featureHead{
    padding-top: 0px;
  }

  .team-section{
    padding: 0rem !important;
    margin: 0rem !important;
  }

  .aboutus, .testimonial, .featureHead {
    margin-top: 3rem !important;
  }
