<!-- Section-1 with image-->
<div class="firstsection ">
  <img class="image1" src="assets/image/images_section1.jpg" alt="landing-image" style="width:100%;">
  <h1 class="main-text landing-text">The Best Place to Get Course Reviews.</h1>

</div>
<!-- Section-1 completed-->

<!-- Feature Section  -->
<div class="text-center feature">

    <h1 class="featureHead">Features</h1>
    <!-- Section description -->
    <p class="lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>

    <div class="row">
      <!-- Discussion forum-->
          <div class="col-md-6">
              <img class="forumImage rounded-circle" src="assets/image/images_discussion-group.jpg" alt="discussion-forum">
              <h5 class="font-weight-bold">Discussion Forum</h5>
              <p class="grey-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
          </div>
          <!-- Discussion forum -->

          <!-- Rate Course -->
          <div class="col-md-6">
            <img class="rateImage rounded-circle" src="assets/image/images_review.jpg" alt="review-course">
            <h5 class="font-weight-bold">Review Courses</h5>
            <p class="grey-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
      <!-- Rate Course -->
    </div>

</div>
<!-- Feature section completed -->



<!-- Testimonials Section -->
<div class="team-section text-center testimonial">

  <!-- Section heading -->
  <h1 >Testimonials</h1>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div >
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid" alt="Error in loading">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Jane Lavigne</h4>
        <h6 class="font-weight-bold blue-text my-3">Graduate Student</h6>
        <p class="font-weight-normal dark-grey-text">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
        eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star-half-alt"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div >
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid" alt="Error in loading">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
        <h6 class="font-weight-bold blue-text my-3">Undergraduate Student</h6>
        <p class="font-weight-normal dark-grey-text">
           Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid commodi. </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div >
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg" class="rounded-circle z-depth-1 img-fluid" alt="Error in loading">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
        <h6 class="font-weight-bold blue-text my-3">Graduate Student</h6>
        <p class="font-weight-normal dark-grey-text">
         At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti.</p>
        <!--Review-->
        <div class="orange-text" id="about_us_redirect">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="far fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!-- About us section -->
  <div class="container-fluid aboutus" >
      <h1 class="text-center aboutusHead" >About Us</h1>
      <div id="about" class="">
               <div class="row">
                   <div class="col-md-6">
                       <img src="assets/image/images_DAL-CompScience.png" class="aboutusImage img-thumbnail rounded img-responsive"
                       alt="aboutimage" style ="margin-left: 15px;margin-top: 10px;">
                   </div>
                   <div class ="col-md-6">
                      <p class="p-about">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                   </div>
               </div>
      </div>
</div>

<!-- About us section complteted -->

</div>
