<!-- Section-1 with image-->
<div class="firstsection ">
  <img class="image1" src="assets/image/images_section1.jpg" alt="landing-image" style="width:100%;">
  <h1 class="main-text landing-text">The Best Place to Get Course Reviews.</h1>

</div>
<!-- Section-1 completed-->

<!-- Feature Section  -->
<div class="text-center feature">

  <h1 class="featureHead">What We Offer?</h1>
  <!-- Section description -->


  <div class="row">
    <!-- Discussion forum-->
    <div class="col-md-6">
      <img class="forumImage rounded-circle" src="assets/image/images_discussion-group.jpg" alt="discussion-forum">
      <h5 class="font-weight-bold">Discussion Forum</h5>
      <p class="grey-text ">Discuss your queries and share learning experience.
      </p>
    </div>
    <!-- Discussion forum -->

    <!-- Rate Course -->
    <div class="col-md-6">
      <img class="rateImage rounded-circle" src="assets/image/images_review.jpg" alt="review-course">
      <h5 class="font-weight-bold">Review Courses</h5>
      <p class="grey-text "> Provide honest rating of the course.
      </p>
    </div>
    <!-- Rate Course -->
  </div>

</div>
<!-- Feature section completed -->



<!-- Testimonials Section -->
<div class="team-section text-center testimonial">

  <!-- Section heading -->
  <h1>Testimonials</h1>
  <!-- Section description -->
  <br><br>


  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div>
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid"
            alt="Error in loading">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Jane Lavigne</h4>
        <h6 class="font-weight-bold blue-text my-3">Graduate Student</h6>
        <p class="font-weight-normal dark-grey-text">
          Great platform to get insights of a course before learning it at Dalhousie. </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star-half-alt"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div>
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid"
            alt="Error in loading">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
        <h6 class="font-weight-bold blue-text my-3">Undergraduate Student</h6>
        <p class="font-weight-normal dark-grey-text">
          It helped me a lot to select my curriculum using RateMyDalCourse. </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div>
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg"
            class="rounded-circle z-depth-1 img-fluid" alt="Error in loading">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
        <h6 class="font-weight-bold blue-text my-3">Graduate Student</h6>
        <p class="font-weight-normal dark-grey-text">
          Discussion Forum is very informative and always helps to solve my queries.</p>
        <!--Review-->
        <div class="orange-text" id="about_us_redirect">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="far fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!-- About us section -->
  <div class="container-fluid aboutus">
    <h1 class="text-center aboutusHead">About Us</h1>
    <div id="about" class="">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/image/images_DAL-CompScience.png" class="aboutusImage img-thumbnail rounded img-responsive"
            alt="aboutimage" style="margin-left: 15px;margin-top: 10px;">
        </div>
        <div class="col-md-6">
          <p class="p-about">
            We provide information on every
            subject of Computer Science at the Dalhousie University
            by providing course ratings and discussion forum. The idea is to convey the
            information of different courses in such a manner so that student can easily decide whether
            the subject will be helpful to them or not. RateMyDalCourse also eradicates the communication barrier
            among the student and resolve their queries using the discussion forum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- About us section complteted -->

</div>
