.navbar {
	background: #2e4683 !important;
}

.navbar-brand {
  font-family: cursive;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #000000 !important;
  background: #ffffff !important;
}