<div class="container">
  <div class="row" style="margin-top:70px">
    <div class="col-sm-12" >
   <p class= "Subject" style="margin-bottom:1rem; margin-top: 2rem"> <strong><h3>Courses you have completed</h3></strong></p>


    </div>

   </div>  <!--end of row-->
</div> <!--end of container-->


<div class="gallery-container cards-container">
    <div class="container">
        <!-- reference from https://stackoverflow.com/questions/49418918/how-to-use-ngfor-in-angularjs -->
        
        <div class="row">
            <div *ngFor="let mycourse of myCoursesList; let i=index" class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                        <form #rateForm="ngForm"  class="form-container" method="POST" novalidate (ngSubmit)="onRate(rateForm.value,mycourse)">
                        <h6>{{mycourse}}</h6>
                        <p><strong>Rate Subject :
                            <!-- reference from https://codepen.io/tammykimkim/pen/yegZRw -->
                            <div class="rate" >
                              
                                    <input type="radio" id="{{'star1_5'+i}}" [value]="5" (ngModel)="rate" name="rate" #rate="ngModel" />
                                    <label [attr.for]="'star1_5'+i" title="text">5 stars</label>
                                    <input type="radio" id="{{'star1_4'+i}}" name="rate" [value]="4" (ngModel)="rate" #rate="ngModel" />
                                    <label [attr.for]="'star1_4'+i" title="text">4 stars</label>
                                    <input type="radio" id="{{'star1_3'+i}}" name="rate" [value]="3" (ngModel)="rate" #rate="ngModel" />
                                    <label [attr.for]="'star1_3'+i" title="text">3 stars</label>
                                    <input type="radio" id="{{'star1_2'+i}}" name="rate" [value]="2" (ngModel)="rate" #rate="ngModel" />
                                    <label [attr.for]="'star1_2'+i" title="text">2 stars</label>
                                    <input type="radio" id="{{'star1_1'+i}}" name="rate" [value]="1" (ngModel)="rate" #rate="ngModel" />
                                    <label [attr.for]="'star1_1'+i" title="text">1 star</label>

                              </div>

                        </strong></p>

                        <button class="btn btn-dark">Submit</button><br><br>
                        <div  class="text-center alert alert-success" *ngIf="(mycourse == currentCourse) && showRateMessage">
                            <b>{{ratemessage}}</b>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
           

            <div class="col-sm-12" >
                    <p class= "Subject" style="margin-bottom:1rem; margin-top: 2rem"> <strong><h3>All courses</h3></strong></p>
                     </div>
            
                <!-- reference from https://stackoverflow.com/questions/49418918/how-to-use-ngfor-in-angularjs -->
                <div *ngFor="let course of coursesList" class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="transform-on-hover card ">
                        <a class="lightbox"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                        <div class="card-body">
                 <!--reference from https://stackoverflow.com/questions/21053577/how-to-display-data-from-mongodb-to-the-frontend-via-node-js-without-using-a-fra -->
                        <h6>{{course.Code}} {{course.Name}}</h6>
                        
                        <a type="button" class="btn btn-dark" [href]="'discussion/' + course.Name">Discuss</a>
                        </div>
                    </div>
                </div>
            

        </div>

    </div>
   </div>
