<div class="container">
  <div class="row" style="margin-top:70px">
    <div class="col-sm-12">
      <p class="Subject" style="margin-bottom:1rem; margin-top: 2rem"> <strong>
          <h3>Courses you have completed</h3>
        </strong></p>
    </div>
  </div>
  <!--end of row-->
</div>
<!--end of container-->


<div class="gallery-container cards-container">
  <div class="container">
    <div id="errorDiv" *ngIf="RatedCoursesList.length == 0" style="font-size: large;color:red;">
      You have not completed any courses for this search..!!
    </div>

    <!-- reference from https://stackoverflow.com/questions/49418918/how-to-use-ngfor-in-angularjs -->
    <div class="row">
      <div *ngFor="let mycourse of RatedCoursesList; let i=index" class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="transform-on-hover card ">
          <a class="lightbox"><img src="assets/image/gallery1.jpg" class="card-img-top"
              style="max-height:130px; width:100%" alt="error loading image"></a>
          <div class="card-body">
            <form #rateForm="ngForm" class="form-container" method="POST" novalidate
              (ngSubmit)="onRate(rateForm.value,mycourse)">
              <h6>{{mycourse.Name}}</h6>
              <p><strong>Rate Subject :
                  <!-- reference from https://codepen.io/tammykimkim/pen/yegZRw -->
                  <rating [(ngModel)]="mycourse.Rate" [max]="5" name="rate" #rate="ngModel" style="color: #d8c302">
                  </rating>
                </strong></p>

              <button class="btn btn-dark">Submit</button><br><br>
              <div class="text-center alert alert-success" *ngIf="(mycourse == currentCourse) && showRateMessage">
                <b>{{ratemessage}}</b>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <p class="Subject" style="margin-bottom:1rem; margin-top: 2rem"> <strong>
            <h3>All courses</h3>
          </strong></p>
      </div>
      <div id="errorDiv" *ngIf="coursesList.length == 0" style="font-size: large;color:red">
        NO course is available for this search..!!
      </div>
      <!-- reference from https://stackoverflow.com/questions/49418918/how-to-use-ngfor-in-angularjs -->
      <div *ngFor="let course of coursesList" class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="transform-on-hover card ">
          <a class="lightbox"><img src="assets/image/gallery1.jpg" class="card-img-top"
              style="max-height:130px; width:100%" alt="error loading image"></a>
          <div class="card-body">
            <!--reference from https://stackoverflow.com/questions/21053577/how-to-display-data-from-mongodb-to-the-frontend-via-node-js-without-using-a-fra -->
            <h6>{{course.Code}} {{course.Name}}</h6>
            <a type="button" class="btn btn-dark" [href]="'discussion/' + course.Code">Discuss</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
