<div class="container-fluid" id="editProfile_form">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">

<!-- edit profile form -->
<form class="form-container container" #userForm="ngForm" action="coursePage.html" method="POST" onsubmit='return checkForm()'>
  <h1 class="text-center form-header">Edit Profile</h1>

  <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
              <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" id="name"  placeholder="Enter Your Full Name"
              pattern="[a-zA-Z][a-zA-Z ]+" title="Enter full name" required ngModel name="name">
              <small class="text-danger" [class.d-none]="name.valid || name.untouched" >Name is required</small>
          </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="email"  placeholder="Enter your email"
         title="Enter your email" name="email" disabled value="harsh@gmail.com">
    </div>
  </div>

  <div class="form-group row">
      <label for="old_Password" class="col-sm-3 col-form-label">Old Password</label>
      <div class="col-sm-9">
          <input type="password" #old_password="ngModel" [class.is-invalid]="old_password.invalid && old_password.touched" class="form-control" id="old_password" title="Password should contian minimum 8 characters"
          placeholder="Enter your password"  required ngModel name="old_password" minlength="8">
          <div *ngIf="old_password.errors && (old_password.valid || old_password.touched)">
              <small class="text-danger" *ngIf="old_password.errors.required" >Old Password is required</small>
              <small class="text-danger" *ngIf="old_password.errors.minlength">Length of password should be greater than 8</small>
          </div>
      </div>
    </div>

  <div class="form-group row">
    <label for="Password" class="col-sm-3 col-form-label">New Password</label>
    <div class="col-sm-9">
        <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" class="form-control" id="password" title="Password should contian minimum 8 characters"
        placeholder="Enter your password"  required ngModel name="password" minlength="8">
        <div *ngIf="password.errors && (password.valid || password.touched)">
            <small class="text-danger" *ngIf="password.errors.required" >Password is required</small>
            <small class="text-danger" *ngIf="password.errors.minlength">Length of password should be greater than 8</small>
        </div>
    </div>
  </div>

  <div class="form-group row">
      <label  class="col-sm-3">Confirm New Password</label>
      <div class="col-sm-9">
          <input type="password"  appConfirmEqualValidator="password" #cpassword="ngModel"  [class.is-invalid]="cpassword.invalid && cpassword.touched" class="form-control"  id="cpassword" placeholder="Confirm your password"
          title="It should match the password" required ngModel name="cpassword" minlength="8"><div id="message"></div>
          <div *ngIf="cpassword.errors && (cpassword.valid || cpassword.touched)">
              <small class="text-danger" *ngIf="cpassword.errors.required" >Confirm Password is required</small>

          </div>
          <div *ngIf="cpassword.errors && (cpassword.valid || cpassword.touched)">
                  <small class="text-danger" *ngIf="!cpassword.errors.notequal && !cpassword.errors.required && !password.errors.required && !password.errors.minlength || password != cpassword" >Password and Confirm password does not match </small>
          </div>
      </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Courses</label>
    <div class="col-sm-4">
        <div class="input-group-prepend ">
            <div class="addPrepend input-group-text bg-success">
            Add
            </div>
            <select class="selectpicker" multiple data-live-search="true">
                <option data-tokens="add_c1">Course-1</option>
                <option data-tokens="add_c2">Course-2</option>
                <option data-tokens="add_c3">Course-3</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="input-group-prepend ">
                <div class="dropPrepend input-group-text bg-danger">
                Drop
                </div>
        <select class="selectpicker" multiple data-live-search="true">
            <option data-tokens="drop_c1">Course-1</option>
            <option data-tokens="drop_c2">Course-2</option>
            <option data-tokens="drop_c3">Course-3</option>
        </select>
        </div>
  </div>

  </div>


  <div class="form-button">
      <button [disabled]="userForm.form.invalid" [class.btn-danger]="userForm.form.invalid" type="submit" onclick="alert('Successfully Updated the profile.'); window.location.href='editprofile'" class="btn btn-primary">Submit</button>
  </div><div id="msg2" class="text-center"></div>
</form>
<!-- edit profile form completed -->

</div>
</div>
</div>
