<div class="container" style="background-color:#FAFAFA">
  <div class="row" style="margin-top:70px">
    <div class="col-sm-5" >
   <p class= "Subject" style="margin-bottom:0px;"> <strong><h3>Check Computer Science Subject and give feedback</h3></strong></p>

      
    </div>
    
   </div>  <!--end of row-->
</div> <!--end of container-->


<div class="gallery-container cards-container">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                        <h6>CSCI-1234 Cloud Computing</h6>                        
                        <p><strong>Ratings:    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></strong></p>
                        <button type="button" class="btn btn-dark">Submit</button>
                    </div>
                </div>
                
            </div>
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                        <h6>CSCI-345 WebDevelopment</h6>                        
                        <p><strong>Ratings: <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></strong></p>
                        <button type="button" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>
            
         
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                
                 <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                       <h6>CSCI-456 Data Science</h6>                        
                        <p><strong>Ratings: <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></strong></p>
                        <button type="button" class="btn btn-dark">Submit</button>
                    </div>
                </div>
                
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                        <h6>CSCI-001 Visulaisation</h6>                        
                        <p><strong>Ratings: <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></strong></p>
                        <button type="button" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>

                    
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                    <h6>CSCI-001 Visulaisation</h6>                        
                    <button type="button" class="btn btn-dark">Discuss</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                        <h6>CSCI-002 Abcdef ghi</h6>                        
                    <button type="button" class="btn btn-dark">Discuss</button>
                        
                    </div>
                </div>
            </div>

             <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                        <h6>CSCI-001 Visulaisation</h6>                        
                    <button type="button" class="btn btn-dark">Discuss</button>
                    </div>
                </div>
            </div>

             <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                            <h6>CSCI-001 Visulaisation</h6>                        
                            <button type="button" class="btn btn-dark">Discuss</button>  
                    </div>
                </div>
            </div>

             <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                              <h6>CSCI-001 Visulaisation</h6>                        
                    <button type="button" class="btn btn-dark">Discuss</button>
                    </div>
                </div>
            </div>

             <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="transform-on-hover card ">
                    <a class="lightbox" href="#"><img src="assets/image/gallery1.jpg" class="card-img-top" style="max-height:130px; width:100%" alt="error loading image"></a>
                    <div class="card-body">
                            <h6>CSCI-001 Visulaisation</h6>                        
                    <button type="button" class="btn btn-dark">Discuss</button>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
   </div>