* {
	font-family: 'Raleway', sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.navbar { 
	background: #192a56;
	font-size: 1.25rem;
}

.nav-link , .navbar-brand { 
	color: #ffffff; 
	cursor: pointer;
}

.navbar-brand {
	color: #E0E0E0 !important;
}

.nav-link { 
	color: #E0E0E0 !important;
	margin-right: 1em !important;
}

.nav-link:hover { 
	background: #dff9fb; 
	color: #000000 !important; 
	border-color: #dff9fb; 
	padding-left: 1rem;
}

.nav-link-btn {
	color: #E0E0E0;
	padding-left: 1rem;
	border: 2px solid #E0E0E0;
	border-radius: 25px;	
}

.nav-link-btn:hover {
	background: #dff9fb; 
	color: #000000;
	border-color: #dff9fb; 
	padding-left: 1rem;
	border-radius: 25px;
}

.ml-auto {
	margin-left: 2rem;
}

.navbar-toggler{
	background:#dff9fb;
}

.navbar-collapse{
	justify-content: flex-end;
}

#discussionForm {
	margin-top: 6rem;
}

.display-3 {
	font-size: 3vw;
}

.display-4 {
	font-size: 2vw;
}

.display-5 {
	font-size: 1.5vw;
}

.commentCategory {
	cursor: pointer;
}

#horizontalLine {
    overflow: visible !important; /* For IE */
    height: 30px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
}

#horizontalLine:before {
    display: block !important;
    content: "" !important;
    height: 30px !important;
    margin-top: -31px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 0 0 1px 0 !important;
    border-radius: 20px !important;
}

.comment {
	border: 0px solid;
	border-color: #FFFFFF;
	-webkit-box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.71);
	box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.71);
	margin-bottom: 1.2rem;
}

.filterComments {
	font-size: 1.5vw;
}

.helpful:hover {
	cursor: pointer;
}

.subject {
	font-size: 3rem;
}

.subject-fields {
	font-size: 1.75rem;
}

.comments {
	font-size: 1.5rem;
}

.footer {
	background: #192a56;
	color: white;
}

hr {
	border-color: white !important;
}

.social-icon {
	font-size: 30px;
	border: 1px solid white;
}
